@-moz-document regexp("https://kitsu.io/users/.*/library.*") {
table.library-list :is(.occludable-area, .readonly-rating) {
    position: relative;
    overflow: visible;
}
table.library-list .occludable-area,
table.library-list .edit-entry {
    height: 24px !important;
}
table.library-list thead th {
    padding: 10px 0px;
}
table.library-list thead th:not([class]) {
    padding: 0px !important;
}
table.library-list thead th.status {
    margin-right: 12px;
}
table.library-list td {
    padding: 0 !important;
}
table.library-list td.status {
    padding: 4px !important;
    margin: 0;
}
table.library-list :is(.checkbox-cell, .title-wrapper, .release-status-cell, .star-rating-cell, .progress-cell, .edit-entry, thead th) {
    line-height: 24px !important;
}
table.library-list :is(.cell-poster, .checkbox-cell, .reaction-status--add, .entry-rating-star svg) {
    display: none !important;
    margin: 0 !important;
    border: none !important;
}
table.library-list td.media-cell {
    padding-left: 8px !important;
}
table.library-list .reaction-status {
    position: absolute;
    top: 4px;
    left: -24px;
}
table.library-list .release-status-cell svg {
    top: -18px !important;
    right: 8px !important;
}
table.library-list .entry-rating-empty svg {
    height: 12px !important;
    transform: translateY(-7px) !important;
    fill: #666 !important;
}
table.library-list .current-rating {
    color: #bbb !important;
    mix-blend-mode: difference !important;
    text-align: center !important;
}
table.library-list tbody .progress-cell {
    padding-right: 10px !important;
}
table.library-list td.status-completed ~ td.progress-cell a.link {
    font-weight: 400 !important;
    color: #BBB !important;
}
table.library-list .edit-entry-button {
    line-height: 24px;
    padding: 0 25% !important;
}
table.library-list .occludable-area:hover {
    background: rgba(128,128,128,.2) !important;
}
}
